*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  line-height: 1.625;
  font-weight: 300;
  font-family: "Nunito", sans-serif;
  background: #2F2B26;
  color: #241C12; }

.header-1 {
  margin: 0;
  margin-bottom: 1.2rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: clamp(3rem, 10vw, 6rem);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .3rem;
  line-height: 1; }

.header-2 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: clamp(2rem, 2vw, 2.2rem);
  margin-bottom: 2.4rem; }

.header-3 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 1.2rem; }

.block-text {
  padding-bottom: 3rem;
  max-width: 50ch; }

@keyframes landing {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.btn {
  display: inline-block;
  border: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  cursor: pointer;
  color: #FBFAF7;
  background: none; }
  .btn--cta {
    background: #E5600A;
    color: #FBFAF7;
    font-size: 2.1rem;
    font-weight: 700; }

.section-header {
  position: relative;
  display: inline-block;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem; }
  .section-header::before, .section-header::after {
    position: absolute;
    top: 50%;
    content: "";
    height: .05rem;
    width: 20vw;
    background: rgba(251, 250, 247, 0.2); }
  .section-header::before {
    left: 20%; }
  .section-header::after {
    right: 15%; }

.page-wrap {
  overflow-x: hidden; }

.page-center {
  max-width: 1140px;
  height: 100%;
  margin: 0 auto;
  margin-top: 4rem;
  padding: 8rem 0; }
  @media only screen and (max-width: 80em) {
    .page-center {
      padding: 6rem 4rem; } }

.heroe {
  background-image: linear-gradient(45deg, rgba(47, 43, 38, 0.3), rgba(47, 43, 38, 0.05)), url(../images/heroe.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 90vh;
  border-bottom: 1px solid #5C564E;
  animation: landing 1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .heroe__content {
    color: #FBFAF7; }
  .heroe__left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }

.nav {
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  padding: .5rem 1rem;
  background: #2F2B26;
  color: #FBFAF7;
  text-align: right;
  border-bottom: 1px solid #5C564E; }

.heroe {
  background-image: linear-gradient(45deg, rgba(47, 43, 38, 0.3), rgba(47, 43, 38, 0.05)), url(../images/heroe.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 90vh;
  border-bottom: 1px solid #5C564E;
  animation: landing 1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .heroe__content {
    color: #FBFAF7; }
  .heroe__left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }

.about {
  background: #2F2B26; }
  .about__wrap {
    color: #FBFAF7; }
  .about__content {
    margin-top: 8rem;
    margin-left: -7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .about__content > * {
      padding-left: 7rem; }
  .about__content-image {
    width: 50%; }
    .about__content-image img {
      width: 100%;
      object-fit: cover; }
  .about__content-text {
    width: 50%; }
