*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  line-height: 1.625;
  font-weight: 300;
  font-family: "Nunito", sans-serif;
  background: #2F2B26;
  color: #241C12; }

.header-1 {
  margin: 0;
  margin-bottom: 2.4rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: clamp(3rem, 10vw, 6rem);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .3rem;
  line-height: 1; }

.header-2 {
  font-weight: 400;
  letter-spacing: .2rem;
  text-transform: uppercase;
  font-size: clamp(2rem, 2vw, 2.2rem);
  margin-bottom: 2.4rem; }

.header-3 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 1.2rem; }

.header-4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.6rem;
  padding: 1rem 0 2rem; }

.block-text {
  padding-bottom: 3rem;
  max-width: 50ch; }

@keyframes landing {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.btn {
  display: inline-block;
  padding: 0 1rem;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  color: #d85f0e;
  font-weight: 700;
  background: none;
  border: 1px solid #d85f0e; }
  .btn--cta {
    padding: 1rem 2rem;
    background: #d85f0e;
    color: #FBFAF7;
    font-size: 2.1rem; }

.section-header {
  position: relative;
  display: inline-block;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem; }

.page-wrap {
  overflow-x: hidden;
  margin-top: 4rem; }

.page-center {
  max-width: 1140px;
  height: 100%;
  margin: 0 auto;
  padding: 8rem 0; }
  @media only screen and (max-width: 80em) {
    .page-center {
      padding: 6rem 4rem; } }

.heroe {
  background-image: linear-gradient(45deg, rgba(47, 43, 38, 0.3), rgba(47, 43, 38, 0.05)), url(../images/heroe.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 90vh;
  animation: landing 1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .heroe__content {
    color: #FBFAF7; }
  .heroe__left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }

.nav {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background: #FBFAF7;
  color: #2F2B26; }
  .nav__wrap {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .nav__menu {
    display: flex;
    justify-content: center;
    align-items: center; }
    .nav__menu--left {
      margin-right: auto; }
    .nav__menu--right {
      margin-left: auto; }
  .nav__list {
    margin: 0;
    list-style: none;
    text-transform: uppercase;
    color: #2F2B26;
    font-weight: 700;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem; }
  .nav__item--link a, .nav__item--social a {
    text-decoration: none;
    color: #2F2B26; }

.heroe {
  background-image: linear-gradient(45deg, rgba(47, 43, 38, 0.3), rgba(47, 43, 38, 0.05)), url(../images/heroe.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 90vh;
  animation: landing 1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .heroe__content {
    color: #FBFAF7; }
  .heroe__left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }

.about {
  background: #FBFAF7; }
  .about__wrap {
    color: #2F2B26; }
  .about__content {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
    align-items: center; }
  .about__content-image {
    width: 100%; }
    .about__content-image img {
      width: 100%;
      object-fit: cover; }

.rates {
  background: #FBFAF7; }
  .rates__wrap {
    color: #2F2B26; }
  .rates__content {
    margin: 8rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 8rem;
    justify-items: center; }
  .rates__card {
    width: auto;
    padding: 2rem;
    text-align: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: transform .24s ease-in-out; }
    .rates__card:hover {
      transform: scale(1.05); }
    .rates__card--img {
      display: block;
      width: 100%;
      object-fit: cover;
      object-position: center; }
    .rates__card--title {
      font-size: 2rem;
      padding: 8rem 0 1rem; }
    .rates__card--price {
      font-size: 2rem; }
    .rates__card--date {
      margin-top: auto;
      padding-top: 8rem;
      font-size: 1.6rem;
      font-style: italic; }

.features {
  background-color: #2F2B26;
  color: #FBFAF7; }
  .features__wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 6rem; }

.card {
  text-align: center;
  padding: 4rem 2rem; }
  .card__img {
    height: 8rem;
    width: 8rem;
    filter: invert(53%) sepia(14%) saturate(3982%) hue-rotate(344deg) brightness(105%) contrast(91%); }
  .card__text {
    text-align: center;
    padding: 0 10%; }
